torch
torchaudio
torchcodec
fastapi
uvicorn
python-multipart
transformers
openai-whisper
s3tokenizer
onnx2torch
onnxruntime-gpu
huggingface_hub
librosa
soundfile
scipy
numpy
tqdm
munch
PyYAML
phonemizer
einops
einops_exts
rotary_embedding_torch
modelscope
sentencepiece
speechbrain
funasr
cn2an
pypinyin
pyopenjtalk
g2p_en
jieba
jieba_fast
LangSegment
unidecode
wordsegment
ffmpeg-python
